<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:mvc ="http://www.springframework.org/schema/mvc"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:jpa="http://www.springframework.org/schema/data/jpa"
             xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <mvc:annotation-driven/>
    <context:component-scan base-package="com.music.controller" />
    <mvc:resources mapping="/resources/**" location="/resources/" />
    <beans:bean  class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <beans:property name="prefix" value="/WEB-INF/jsp/" />
        <beans:property name="suffix" value=".jsp" />
    </beans:bean>
    <mvc:annotation-driven/>
    <context:component-scan base-package="com.music" />
    <beans:bean id="userService" class="com.music.service.UserServiceImpln"/>
    <beans:bean id="customerDao" class="com.music.dao.CustomerDaoImpln"/>
    <beans:bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <beans:property name="entityManagerFactory" ref="entityManagerFactory" />
    </beans:bean>
    <jpa:repositories base-package="com.music.repository" />
    <beans:bean id="entityManagerFactory"
                class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <beans:property name="packagesToScan" value="com.music.model" />
        <beans:property name="dataSource" ref="dataSource" />
        <beans:property name="jpaProperties">
            <beans:props>
                <beans:prop key="hibernate.show_sql">true</beans:prop>
                <beans:prop key="hibernate.format_sql">true</beans:prop>
                <beans:prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</beans:prop>
            </beans:props>
        </beans:property>
        <beans:property name="persistenceProvider">
            <beans:bean class="org.hibernate.jpa.HibernatePersistenceProvider"/>
        </beans:property>
        <beans:property name="jpaVendorAdapter">
            <beans:bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <beans:property name="generateDdl" value="true" />
            </beans:bean>
        </beans:property>
    </beans:bean>
    <beans:bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
                destroy-method="close">
        <beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <beans:property name="url"
                        value="jdbc:mysql://localhost:3306/music" />
        <beans:property name="username" value="root" />
        <beans:property name="password" value="HkSkmysql1*" />
    </beans:bean >
</beans:beans>
